In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

sns.set_style("whitegrid")

In [3]:
df = pd.read_json("data/monthlySalesbyCategoryMultiple.json")

In [4]:
df.head()

                                            contents
0  {'category': 'Furniture', 'region': 'West', 'm...
1  {'category': 'Technology', 'region': 'West', '...

In [5]:
df

                                            contents
0  {'category': 'Furniture', 'region': 'West', 'm...
1  {'category': 'Technology', 'region': 'West', '...

In [6]:
df.columns

Index(['contents'], dtype='object')

In [7]:
df.describe()

                                                 contents
count                                                   2
unique                                                  2
top     {'category': 'Technology', 'region': 'West', '...
freq                                                    1

In [10]:
import json
from pprint import pprint as pp

In [11]:
with open('data/monthlySalesbyCategoryMultiple.json') as f:
    data = json.load(f)

In [14]:
pp(data)

{'contents': [{'category': 'Furniture',
               'monthlySales': [{'month': 20130101, 'sales': 38},
                                {'month': 20130201, 'sales': 35},
                                {'month': 20130301, 'sales': 41},
                                {'month': 20130401, 'sales': 55},
                                {'month': 20130501, 'sales': 58},
                                {'month': 20130601, 'sales': 66},
                                {'month': 20130701, 'sales': 74},
                                {'month': 20130801, 'sales': 78},
                                {'month': 20130901, 'sales': 38},
                                {'month': 20131001, 'sales': 30},
                                {'month': 20131101, 'sales': 26},
                                {'month': 20131201, 'sales': 29}],
               'region': 'West'},
              {'category': 'Technology',
               'monthlySales': [{'month': 20130101, 'sales': 54},
                                {'month': 20130201, 'sales': 66},
                                {'month': 20130301, 'sales': 77},
                                {'month': 20130401, 'sales': 70},
                                {'month': 20130501, 'sales': 60},
                                {'month': 20130601, 'sales': 63},
                                {'month': 20130701, 'sales': 55},
                                {'month': 20130801, 'sales': 47},
                                {'month': 20130901, 'sales': 55},
                                {'month': 20131001, 'sales': 30},
                                {'month': 20131101, 'sales': 22},
                                {'month': 20131201, 'sales': 77}],
               'region': 'West'}]}

In [16]:
print(data.keys())

dict_keys(['contents'])

In [18]:
for a in data['contents']:
    print(a.keys())

dict_keys(['category', 'region', 'monthlySales'])
dict_keys(['category', 'region', 'monthlySales'])

In [19]:
for a in data['contents']:
    for b in a['monthlySales']:
        print(b.keys())

dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])
dict_keys(['month', 'sales'])

In [20]:
for k, v in data.items():
    print(f"{k}: , {v}")

contents: , [{'category': 'Furniture', 'region': 'West', 'monthlySales': [{'month': 20130101, 'sales': 38}, {'month': 20130201, 'sales': 35}, {'month': 20130301, 'sales': 41}, {'month': 20130401, 'sales': 55}, {'month': 20130501, 'sales': 58}, {'month': 20130601, 'sales': 66}, {'month': 20130701, 'sales': 74}, {'month': 20130801, 'sales': 78}, {'month': 20130901, 'sales': 38}, {'month': 20131001, 'sales': 30}, {'month': 20131101, 'sales': 26}, {'month': 20131201, 'sales': 29}]}, {'category': 'Technology', 'region': 'West', 'monthlySales': [{'month': 20130101, 'sales': 54}, {'month': 20130201, 'sales': 66}, {'month': 20130301, 'sales': 77}, {'month': 20130401, 'sales': 70}, {'month': 20130501, 'sales': 60}, {'month': 20130601, 'sales': 63}, {'month': 20130701, 'sales': 55}, {'month': 20130801, 'sales': 47}, {'month': 20130901, 'sales': 55}, {'month': 20131001, 'sales': 30}, {'month': 20131101, 'sales': 22}, {'month': 20131201, 'sales': 77}]}]

In [21]:
for a in data['contents']:
    for k, v in a.items():
        print(f"{k}: , {v}")

category: , Furniture
region: , West
monthlySales: , [{'month': 20130101, 'sales': 38}, {'month': 20130201, 'sales': 35}, {'month': 20130301, 'sales': 41}, {'month': 20130401, 'sales': 55}, {'month': 20130501, 'sales': 58}, {'month': 20130601, 'sales': 66}, {'month': 20130701, 'sales': 74}, {'month': 20130801, 'sales': 78}, {'month': 20130901, 'sales': 38}, {'month': 20131001, 'sales': 30}, {'month': 20131101, 'sales': 26}, {'month': 20131201, 'sales': 29}]
category: , Technology
region: , West
monthlySales: , [{'month': 20130101, 'sales': 54}, {'month': 20130201, 'sales': 66}, {'month': 20130301, 'sales': 77}, {'month': 20130401, 'sales': 70}, {'month': 20130501, 'sales': 60}, {'month': 20130601, 'sales': 63}, {'month': 20130701, 'sales': 55}, {'month': 20130801, 'sales': 47}, {'month': 20130901, 'sales': 55}, {'month': 20131001, 'sales': 30}, {'month': 20131101, 'sales': 22}, {'month': 20131201, 'sales': 77}]

In [23]:
for a in data['contents']:
    for b in a['monthlySales']:
        for k, v in b.items():
            print(f"{k}: , {v}")

month: , 20130101
sales: , 38
month: , 20130201
sales: , 35
month: , 20130301
sales: , 41
month: , 20130401
sales: , 55
month: , 20130501
sales: , 58
month: , 20130601
sales: , 66
month: , 20130701
sales: , 74
month: , 20130801
sales: , 78
month: , 20130901
sales: , 38
month: , 20131001
sales: , 30
month: , 20131101
sales: , 26
month: , 20131201
sales: , 29
month: , 20130101
sales: , 54
month: , 20130201
sales: , 66
month: , 20130301
sales: , 77
month: , 20130401
sales: , 70
month: , 20130501
sales: , 60
month: , 20130601
sales: , 63
month: , 20130701
sales: , 55
month: , 20130801
sales: , 47
month: , 20130901
sales: , 55
month: , 20131001
sales: , 30
month: , 20131101
sales: , 22
month: , 20131201
sales: , 77